body {
    padding: 0;
    display: block;
}

.hideme {
    display: none;
}

#header {
    height: 70px;
    text-align: center;
}

#leftColumn {
    width: 200px;
    float: left;
}

#leftMenu {
    padding-bottom: 20px;
}

#centerColumn {
    width: 600px;
    float: left;
}

#footer {
    text-align: center;
    clear: both;
}

.menuCaption {
    text-decoration: underline;
    padding: 3px;
    font-weight: bold;
}

.showHidden {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.productsCaption {
    font-size: 22px;
    font-weight: bold;
    color: #0088cc;
}

.table textarea {
    height: 30px;
    width: 220px;
}

table th {
    font-size: 14px;
}

table input[type=text], #newCategory {
    height: 30px;
    line-height:30px;
    font-size: 12px;
}

input[type=button] {
    padding-left: 4px;
    padding-right: 4px;
}