body {
    padding: 0;
    display: block;
}

.hideme {
    display: none;
}

#header {
    height: 100px;
    text-align: center;
}

#leftColumn {
    width: 220px;
    float: left;
}

#leftMenu, #loginBox, #registerBox {    
    padding-bottom: 20px;
}

#centerColumn {
    width: 600px;
    float: left;
    padding-left: 90px;
}

#footer {
    text-align: center;
    clear :both;
}

.menuCaption {
    padding: 3px;
    font-weight: bold;
    text-decoration: underline;
    color: #0088cc;
    cursor: pointer;
}

.hiMenu a {
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}

.lowMenu a {
    margin-left: 20px;
    text-decoration: none;
}

.cartBox {
    padding: 5px 0px;
}

.goodPosition {
    float: left;    
    padding: 0px 30px 40px 0px;
}

.goodPosition a:first-child {
    text-decoration: none;
}

#prodClear {
    clear: both;
}

#cartTable {
    border: 1px solid black;
}

#userBox {
    margin-bottom: 20px;
}

#registerBoxHidden {
    margin-top: 20px;
    display: none;
}

#userProfTable {
    border: 0;
}

#loginEmail, #loginPwd, #email, #pwd1, #pwd2 {
    width: 165px;
}

h3 a {
    text-decoration: underline;
}

.productPrice, .productDescription {
    font-weight: bold;
}